body {
	background: #232323;
	margin: 0;
	font-family: "Avenir";
}

.cuadrados {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 10px;
	transition: background 0.4s;
}

.contenedor {
	max-width: 600px;
	margin: 0 auto;
}

h1 {
	color:white;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	padding: 20px 0;
}

button {
	border: none;
	background: none;
	font-family: "Avenir";
	text-transform: uppercase;
	font-weight: 900;
	height: 100%;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	outline: none;
}

button:hover {
	background: steelblue;
	color: white;
}

#correcto {
	display: inline-block;
	width: 20%;
}

#rgb {
	font-size: 2em;
	letter-spacing: 0em;
}

#linea {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.seleccionado {
	background: steelblue;
	color: white;
}